img {
    max-width: 100%;
    margin: auto;
}

.bigtitle {
    position: relative;
}

input {
    height: 50px;
}

.login-info {
    height: 400px;
    position: absolute;
    left: 40%;
    top: 100%;
}