img {
    max-width: 800px;
    max-height: 650px;
    margin: auto;
}

.bigtitle {
    position: relative;
}

input {
    height: 50px;
}

.login-info {
    position: absolute;
    left: 40%;
    top: 200%;
}

.company_name {
    left: 40%;
}


/* 
.carousel-inner {
    width: 600px;
    height: 800px;
} */

.company_name {
    text-align: center
}

p {
    font-size: 25px;
}