.error {
    color: red;
}

main {
    height: 550px;
}

h2 {
    color: #fff;
    line-height: 200%;
}

.login {
    position: absolute;
    top: 20%;
    left: 5%;
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}

.login input[type=text] {
    width: 250px;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 4px;
}

.login input[type=password] {
    width: 250px;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.login button[type=submit] {
    width: 250px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}

.backgroundvideo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0em;
    z-index: -10;
    left: 0px;
}

video {
    width: 100%;
}