* {
    box-sizing: border-box;
}

html,
body {
    font-size: 14pt;
    background: #eff3f5;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

main {
    max-width: 75%;
    margin: auto;
}

header {
    border-bottom: 1px solid #afafaf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    margin-bottom: 5px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}

p {
    font-size: 1rem;
    line-height: 2;
}

.top {
    height: 50px;
    width: 100%;
    background: rgb(189, 181, 181);
    position: fixed;
    top: 0;
}

.top ul {
    width: 80%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top li {
    float: left;
    margin-right: 50px;
}

.top li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* 去除下划线 */
}

.top li a:hover {
    background-color: #111;
}

.top ul li ul {
    width: auto;
    background: rgb(189, 181, 181);
    position: absolute;
    display: none;
}

.top ul li ul li {
    margin-right: 0;
    float: none;
    text-align: center;
}

.top ul li:hover ul {
    display: block;
}

.bigtitle {
    top: 50px;
}