main {
    min-height: 600px;
}

img {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("/public/images/background.jpg");
    background-color: #cccccc;
}

.newcar-container {
    width: 100%;
    color: #000;
    border-style: solid;
    margin: 5px;
    padding: 0;
}

.img-container {
    float: left;
    width: 550px;
    height: 300px;
    color: #000;
    border-style: solid;
    background-color: white;
}

.info-container {
    width: 60%;
    margin-left: 500px;
    /* border-style: solid; */
    height: 300px;
}

.info-container a {
    line-height: 55px;
    font-size: 25px;
}

.info-container p {
    font-size: 20px;
    color: #fff;
}

.sinfo-container {
    width: 60%;
    margin-left: 500px;
    /* border-style: solid; */
    height: 300px;
}

.sinfo-container a {
    line-height: 55px;
    font-size: 30px;
}

.sinfo-container p {
    font-size: 15px;
    color: #fff;
}

.icontainer {
    width: 100%;
    color: #000;
    border-style: solid;
    margin: 10px;
    padding: 0;
}

.icontainer h3 {
    margin-left: 10px;
    font-size: 15px;
    color: rgb(41, 192, 238);
}

.icontainer h2 {
    margin-left: 10px;
    font-size: 35px;
    color: red;
}

.icontainer p {
    margin-left: 20px;
    font-size: 15px;
}