main {
    min-height: 600px;
}

img {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    background-image: url("/public/images/background.jpg");
}

label {
    margin-right: 10px;
}

.sidenav {
    height: 825px;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 52px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 26px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

p {
    color: #000;
}

span {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 52px;
    left: 0;
}

.Infobox {
    border-style: solid;
    border-width: 1px;
}

.home {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 10px;
}

.newcar-container {
    width: 100%;
    color: #000;
    border-style: solid;
    margin: 5px;
    padding: 0;
}

.img-container {
    float: left;
    width: 450px;
    height: 300px;
    color: #000;
    border-style: solid;
    background-color: white;
}

.info-container {
    width: 60%;
    margin-left: 500px;
    /* border-style: solid; */
    height: 300px;
}

.info-container a {
    line-height: 55px;
    font-size: 30px;
}

.info-container p {
    font-size: 23px;
    color: #fff;
}

.newcar p {
    font-size: 10px;
    color: #fff;
}

.newcar input {
    color: #999;
    font-size: 1px;
}

.newcar button {
    color: black;
    font-size: 1px;
}

.error-list {
    color: red;
}

.i-container p {
    font-size: 23px;
    color: rgb(10, 216, 243);
}

.i-container input {
    background-color: rgb(235, 250, 250);
    border: 1px solid;
    width: 30px;
    height: 30px;
    text-align: center;
}

.col-sm-12 {
    margin-top: 60px;
}

.sinfo-container {
    width: 60%;
    margin-left: 500px;
    /* border-style: solid; */
    height: 300px;
}

.sinfo-container a {
    line-height: 55px;
    font-size: 30px;
}

.sinfo-container p {
    font-size: 15px;
    color: #fff;
}