<div class="row">
    <div class="col-sm-12">
        <link rel="stylesheet" href="/public/css/update.css">
        <form class="newcar" method="POST">
            <div id = tag><label>
                    Car VIN
                    <input type="text" name="VIN" placeholder="Unique Vin" value="" class="addcar-input" />
                </label></div>
            <div id = tag><label>
                    Car Brand
                    <input type="text" name="Brand" placeholder="i.e Audi" value="" class="addcar-input" />
                </label></div>
            <div id = tag><label>
                    Car Model
                    <input type="text" name="Model" placeholder="i.e SUV" value="" class="addcar-input" />
                </label></div>
            <div id = tag><label>
                    Car type
                    <input type="text" name="VehicleType" placeholder="i.e A3" value="" class="addcar-input" />
                </label></div>
            <div id = tag><label>
                    Time to market
                    <input type="text" name="Timetomarket" placeholder="mm/dd/yyyy" value="" class="addcar-input" />
                </label></div>
            <div id = tag><label>
                    Color
                    <input type="checkbox" name="Color" value="red" class="checkbox" />Red
                    <input type="checkbox" name="Color" value="green" class="checkbox" />Green
                    <input type="checkbox" name="Color" value="black" class="checkbox" />Black
                    <input type="checkbox" name="Color" value="white" class="checkbox" />White
                    <input type="checkbox" name="Color" value="blue" class="checkbox" />Blue
                </label></div>
            <div id = tag><label>
                    Usedcar
                    <input type="radio" name="Use" value="Yes" class="checkbox" />Yes
                    <input type="radio" name="Use" value="No" class="checkbox" />No
                </label></div>
            <div id = tag><button type="submit" id="butt1">submit</button></div>
        </form>
    </div>
</div>