<article>
  <header>
    <h1>{{title}}</h1>
  </header>
  
  <form action="/delete-result" method="post">

    <label for="deid">
        The id you want to delete: 
        <input type="text" name="deid" id="deid">
    </label><br>

    <input type="submit" value="Delete">
  </form>
</article>