<section>
  <link rel="stylesheet" href="/public/css/homepage.css">
  <div class="bigtitle">
      <h1 style="text-align:center">STEVENS MOTORCARS</h1>
      <div class="main_image1">
        <img src="/public/images/cullinan.jpg" alt="man">
      </div>
      <div class="main_image2">
        <img src="/public/images/lambo-1.jpg" alt="man">
      </div>
  </div>
</section>