<section>
  <link rel="stylesheet" href="/public/css/homepage.css">
  <div class="bigtitle">
      <h1 style="text-align:center">STEVENS MOTORCARS</h1>
        <form action="/login" method="POST" id="login-form">
  {{!-- {{#if error}}
     <p id="error" class="error">{{{info}}}</p>
  {{/if}} --}}
  <div class="login-info">
    <div>
    <label for="username">UserName</label>
    <input type="text" id="username" name="username">
    </div>
    <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    </div>
    <div>
    <button type="submit" class="login">login</button>
    </div>
  </div>
</form>
  </div>
</section>