<section>
  <link rel="stylesheet" href="/public/css/homepage.css">
  <link rel="stylesheet" href="/public/css/newcar.css">
  <div class="bigtitle">
      <h1 style="text-align:center">NEW CARS</h1>
      <div class="allcar-container">
      {{#each cars}}  
        {{#unless Usedcar}}
        <div class="newcar-container" value="{{_id}}">
          <div class="img-container" >
              <img src="/public/images/{{img}}"> 
          </div>
          <div class="info-container">
              {{Brand}} {{Model}}
          </div>
        </div>
        {{/unless}}
      {{/each}}
		</div>
  </div>
</section>  
