

<link rel="stylesheet" href="/public/css/offers.css">
<section>
  <link rel="stylesheet" href="/public/css/homepage.css">
  <div class="bigtitle">
      <h1 style="text-align:center">Offers</h1>

  	<div class="offers-container">
      {{#each offers}}  
      <div class="subcontainer">
		          <p>Title:{{title}}<br>
                Body:{{body}}</p>
      </div>
      {{/each}}
		</div>

  </div>
</section>