<section>
  <link rel="stylesheet" href="/public/css/newcar.css">
  <div class="bigtitle">
      <h1 style="text-align:center">Services</h1>
      <div class="icontainer">
        <h3>Maintaining your vehicle</h3>
        <p>Routine maintenance and upkeep can greatly extend the life of your car, truck or SUV. Still, many people wait until there are major issues before visiting a shop. Failing to properly service your vehicle can result in increased repair costs, as well as greatly reducing its value.</p>
	      <h3>Oil change</h3>
        <p>Easily topping the list of routine maintenance musts is an oil change. Scheduling this service every three months or 3,000 miles will not only help to ensure your vehicle remains running smoothly, but will also extend the life of your engine. Keep in mind that with advancements in automotive technology, most newer vehicles can go 5,000 miles or beyond between oil changes. If your vehicle has logged more than 100,000 miles, a synthetic blend oil will help.</p>
        <h3>Filters</h3>
        <p>Your vehicle's filters should be changed between 15,000 and 30,000 miles. Most can be inspected or replaced during a routine oil change. These include the engine air filter, oil filter, fuel filter and cabin air filter.</p>
  	    <h2 style="text-align:center">SERVICE: (813)-334-1619<h2>
    </div>
  </div>
</section>  