<section>
  <link rel="stylesheet" href="/public/css/homepage.css">
  <div class="bigtitle">
      <h1 style="text-align:center">USED CARS</h1>
      <br>     



<link rel="stylesheet" href="/public/css/used.css">

<p>
  <a href={{carInfo.URL}} target="">{{carInfo.Brand}} {{carInfo.Model}}</a>
</p>


        


  </div>
</section>