<<<<<<< HEAD:code/views/login/addcar.handlebars
<style>
    p{color: black;}
</style>


	<link rel="stylesheet" href="/public/css/private.css">
	<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
	<div id="mySidenav" class="sidenav">
  	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/login" >Main</a>
			<a href="#" >All Cars</a>
			<a href="/login/addcar" >Add Car</a>
			<a href="#" >Delete Car</a>
			<a href="" >Update Car</a>	
			<a href="/login/logout">Logout</a> 
	</div>
	<div class="user-panel">
		<h2>Logged in as: {{{user.lastName}}}</h2>
		<div class="w3-container w3-teal">
            <div class="row">
    <div class="col-sm-12">
        <link rel="stylesheet" href="/public/css/update.css">
        <form class="newcar" method="POST">
            <p><label>
                    Car VIN
                    <input type="text" name="VIN" placeholder="Unique Vin" value="" class="addcar-input" />
                </label></p>
            <p><label>
                    Car Brand
                    <input type="text" name="Brand" placeholder="i.e Audi" value="" class="addcar-input" />
                </label></p>
            <p><label>
                    Car Model
                    <input type="text" name="Model" placeholder="i.e SUV" value="" class="addcar-input" />
                </label></p>
            <p><label>
                    Car type
                    <input type="text" name="VehicleType" placeholder="i.e A3" value="" class="addcar-input" />
                </label></p>
            <p><label>
                    Time to market
                    <input type="text" name="Timetomarket" placeholder="mm/dd/yyyy" value="" class="addcar-input" />
                </label></p>
            <p><label>
                    Color
                    <input type="checkbox" name="Color" value="red" class="addcar-input" />Red
                    <input type="checkbox" name="Color" value="green" class="addcar-input" />Green
                    <input type="checkbox" name="Color" value="black" class="addcar-input" />Black
                    <input type="checkbox" name="Color" value="white" class="addcar-input" />White
                    <input type="checkbox" name="Color" value="blue" class="addcar-input" />Blue
                </label></p>
            <p><label>
                    Usedcar
                    <input type="radio" name="Use" value="Yes" class="addcar-input" />Yes
                    <input type="radio" name="Use" value="No" class="addcar-input" />No
                </label></p>
            <p><button type="submit" id="butt1">submit</button></p>
        </form>
    </div>
</div>
		</div>
	</div>
	
 <script src="/public/js/private.js"></script>
=======
<article>
  <header>
    <h1>{{title}}</h1>
  </header>
  
  <form action="/update-result" method="post">
    <label for="id">
        Please enter the id:
        <input type="text" name="id"  placeholder="id" id="id">
    </label><br>
    <label for="VIN">
        new VIN: 
        <input type="text" name="VIN" id="VIN">
    </label><br>
    <label for="Brand">
        new Brand: 
        <input type="text" name="Brand" id="Brand">
    </label><br>
    <label for="Model">
        new Model: 
        <input type="text" name="Model" id="Model">
    </label><br>
    <label for="VehicleType">
        new VehicleType: 
        <input type="text" name="VehicleType" id="VehicleType">
    </label><br>
    <label for="Timetomarket">
        new Timetomarket: 
        <input type="text" name="Timetomarket" id="Timetomarket">
    </label><br>
    <label for="Color">
        new Color: 
        <input type="checkbox" name="Color" value="red" class="Color" />Red
        <input type="checkbox" name="Color" value="green" class="Color" />Green
        <input type="checkbox" name="Color" value="black" class="Color" />Black
        <input type="checkbox" name="Color" value="white" class="Color" />White
        <input type="checkbox" name="Color" value="blue" class="Color" />Blue
    </label><br>

    <input type="submit" value="Submit">
  </form>
</article>
>>>>>>> d7e8ab5a61c3ed98252b5ff61464944521cebd95:code/views/posts/update.handlebars
