 <link rel="stylesheet" href="/public/css/addoffer.css">
 <link rel="stylesheet" href="/public/css/private.css">
	<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
	<div id="mySidenav" class="sidenav">
  	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  		<a href="/login" >Main</a>
		<a href="/login/allcars">All Cars</a>
		<a href="/login/addcar" >Add Car</a>
		<a href="/login/delete" >Delete Car</a>
		<a href="/login/update" >Update Car</a>	
		<a href="/public/index.html" >Search Car</a>	
		<a href="/login/addoffer" >Add Offer</a>	
		<a href="/login/logout">Logout</a> 
	</div>
	<div class="user-panel">
		<h2>Logged in as: {{{user.lastname}}}</h2>

	<div class="w3-container w3-teal">
  <article class="new-post">
  <form action="/login/addoffer" method="POST" class="new-post-form">
  <div class="offercontainer">
  <div class="row">
    <div class="col-25">
      <label for="fname">Title</label>
    </div>
    <div class="col-75">
      <input type="text" id="title" name="title" placeholder="Title.." value="{{post.title}}">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="subject">Information</label>
    </div>
    <div class="col-75">
      <textarea id="body" name="body" placeholder="Write something.." style="height:200px">{{post.body}}</textarea>
    </div>
  </div>
  <div class="row">
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
  </div>
</article>
  {{#if hasErrors}}
  <ul class="error-list">
    {{#each errors}}
    <li>
      {{this}}
    </li>
    {{/each}}
  </ul>
  {{/if}}
		</div>
	</div>
	
 <script src="/public/js/private.js"></script>