<link rel="stylesheet" href="/public/css/private.css">
<span class="home" style="cursor:pointer" onclick="openNav()">&#9776; Open</span>
<div id="mySidenav" class="sidenav">
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  		<a href="/login" >Main</a>
		<a href="/login/allcars">All Cars</a>
		<a href="/login/addcar" >Add Car</a>
		<a href="/login/delete" >Delete Car</a>
		<a href="/login/update" >Update Car</a>	
		<a href="/public/index.html" >Search Car</a>	
		<a href="/login/addoffer" >Add Offer</a>	
		<a href="/login/logout">Logout</a> 
</div>
<div class="user-panel">
    <h2>Logged in as: {{{user.lastname}}}</h2>
        <div class="col-sm-12">
            <form action="/login/delete" class="delete" method="POST">
                    <p> 
                        <label>
                            Car id
                            <input type="text" name="id" placeholder="id" value="" class="delete-input" />
                        </label>                        

                    <p><button type="submit" id="butt1">submit</button></p>
            </form>
              {{#if hasErrors}}
                <ul class="error-list">
                    {{#each errors}}
                    <li>
                    {{this}}
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
        </div>
</div>

<script src="/public/js/private.js"></script>