
	<link rel="stylesheet" href="/public/css/private.css">
	<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
	<div id="mySidenav" class="sidenav">
  	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="#" >All Cars</a>
			<a href="#" >Add Car</a>
			<a href="#" >Delete Car</a>
			<a href="#" >Update Car</a>	
			<a href="/login/logout">Logout</a> 
	</div>
	<div class="user-panel">
		<h2>Logged in as: {{{user.lastName}}}</h2>
		<div class="w3-container w3-teal">
		</div>
	</div>
	
 <script src="/public/js/private.js"></script>
