<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>STEVENS MOTORCARS</title>
</head>
<body>
    <header>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/public/css/main.css">
    </header>
    <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/homepage"><strong>STEVENS MOTORCARS</strong></a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/homepage">Home</a></li>
                    <li><a href="/newcars">New Cars</a></li>
                    <li><a href="/usedcars">Pre-Owned</a></li>
                    <li><a href="/offers">Offers</a></li>
                    <li><a href="/services">Service</a></li>   
                </ul>
                <form class="navbar-form navbar-left" action="/action_page.php">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="search">
                        <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
    <main>
        {{{body}}}
    </main>
      <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6><strong>About</strong></h6>
            <p class="text-justify">
            Our Address:<br>
            <i class="fa fa-map-marker"  style="font-size:15px"></i> 1 Castle Point Terrace, Hoboken,NJ 07030<br>
            <i class="fa fa-phone" style="font-size:12px"></i> Sales: (201)-216-5000<br>
            <i class="fa fa-mobile-phone" style="font-size:20px"></i> Service: (813)-334-1619
            </p>

          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="/homepage">Home</a></li>
              <li><a href="/newcars">New Cars</a></li>
              <li><a href="/usedcars">Pre-Owned</a></li>
              <li><a href="/offers">Offers</a></li>
              <li><a href="/services">Service</a></li>
              <li><a href="/login">Login</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
         <a href="https://github.com/donglin1111/CS546">CS546</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
</body>
</html>